/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
h2 {
	font-size: 20px;
font-weight: bold;
line-height: 30px;
}
p {
	line-height: 18px;
	font-size: 14px;
	margin: 5px 0;
}
button {
	margin: 10px 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	float: left;
}
tr {
	
}
td {
	height: 30px;
	border: 1px solid grey;
	background-color: rgb(141, 176, 248);
	vertical-align: middle;
text-align: center;
}
.create-page td {
	cursor: pointer;
}
#save-map {
	display: none;
}
.create-page #save-map {
	display: block;
}
td.land-td {
	background-color: rgb(194, 159, 115);
}
td.ui-state-active {
/* 	zoom: 1; */
/* 	filter: alpha(opacity=50); */
	opacity: 0.5;
}
td.td-disabled {
	zoom: 1;
	filter: alpha(opacity=40);
	opacity: 0.4;
}
.middle-td {
	border-bottom: 5px solid rgb(214, 66, 66);
}
#rightside {
	margin: 20px;
	float: left;
	width: 320px;
}
#rightside #all-pawns-start .pawn-box {
	margin-bottom: 10px;
float: left;
width: 80px;
text-align: center;
height: 60px;
}
#rightside #all-pawns-start .pawn-box img {
	width: 40px;
	cursor: pointer;
}
#rightside #all-pawns-start .pawn-name {
	text-transform: capitalize;
font-weight: bold;
clear: both;
font-size: 12px;
}
#rightside #all-pawns-start .pawn-desc {
	display: none;
}
#all-pawns-start h2 {
	text-align: center;
	margin-bottom: 12px;
	font-size: 16px;
}
.create-page #all-pawns-start {
	display: none;
}
td .pawn-img {
	width: 90% !important;
height: 90% !important;
display: block;
margin: 0 auto;
cursor: pointer;
}
td .pawn-img.inside-td {
	/*position: static !important;*/
	left: 0 !important;
	top: 0 !important;
}
td .pawn-img.ui-draggable-dragging {
	/*position: relative !important;*/
}
#ready-game {
	display: none;
}
#invite-popup {
	width: 400px;
}
.share-input {
	width: 90%;
padding: 5px;
font-family: 'Open Sans', sans-serif;
}
#status-box {
	clear: both;
height: 120px;
border: 1px solid grey;
padding: 6px;
overflow-y: scroll;
word-wrap: break-word;
margin-top: 20px;
}
#status-box p {
	font-size: 12px;
	line-height: 16px;
margin: 2px;
}
